.card-block {
  padding: 0px 50px;
}

.title {
  font-size: 32px;
}

.panel-block {
  width: 100%;
  margin-top: 70px;
}

.question-text {
  font-size: 20px;
}

.btn-block {
  display: flex;
  margin: 0px -5px;
}

.btn {
  margin: 0px 5px;
}
